<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}">



<div layout:fragment="content">
    메인 content 양식
    <div sec:authorize="isAuthenticated()">
        <h2>User Details principal객체, authorities(권한)객체로 출력</h2>
        <p>idx: <span th:text="${#authentication.principal.idx}"></span></p>
        <p>id: <span th:text="${#authentication.principal.id}"></span></p>
        <p>name: <span th:text="${#authentication.principal.username}"></span></p>
        <p>Nickname: <span th:text="${#authentication.principal.nickName}"></span></p>
        <p>Address: <span th:text="${#authentication.principal.address}"></span></p>
        <p>Phone number: <span th:text="${#authentication.principal.phoneNum}"></span></p>
        <p>작성자: <span th:text="${#authentication.principal.createdBy}"></span></p>
        <p>email: <span th:text="${#authentication.principal.email}"></span></p>
        <h3>Authorities:</h3>
        <ul>
            <li th:each="authority : ${#authentication.authorities}">
                <span th:text="${authority.authority}"></span>
            </li>
        </ul>
    </div>




</div>
</html>