<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link th:href="@{/css/layout1.css}" rel="stylesheet">
        <link th:href="@{/css/boot.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">

        <style>
        .dropdown-menu {
          display: none;
        }

        .nav-item.dropdown:hover .dropdown-menu {
          display: block;
        }

        .container div {
          border: 0.5px solid black;
        }

        .container-fluid>div {
          border: 0.5px solid black;
        }

        .container-fluid>div {
          border: 0.5px solid black;
        }

        .side_menu {
          margin: 5px 0px 5px 0px;
        }
      </style>
    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
    <div th:replace="fragments/header::header"></div>

    <div layout:fragment="content" class="content"></div>

    <div th:replace="fragments/footer::footer"></div>
</body>
</html>