<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <!--헤더부분-->
    <div class="container1">
        <header class="header-container d-flex align-items-center justify-content-center  py-3 mb-4 ">
            <a href="/static" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" th:href="@{/}">
                <svg class="bi me-2" width="70" height="30" role="img" aria-label="Bootstrap" >
                    <use xlink:href="#bootstrap" />
                </svg>
                <img src="/img/logo.png" alt="이미지_설명">
            </a>
            <div id="top_menu" sec:authorize="!isAuthenticated()">
                <a th:href="@{/member/login}">로그인</a>
                <span>&nbsp</span>
                <a th:href="@{/member/new}">회원가입</a>
            </div>
            <div id="top_menu" sec:authorize="isAuthenticated()">
                <a th:href="@{/member/logout}">로그아웃 </a>
                <span>&nbsp</span>
                <a th:href="@{/user/mypage}">마이페이지</a>
            </div>

            <!--버튼 드랍다운-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="list.html" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    게시판
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/comm/boardMain}">자유게시판</a></li>
                    <li><a class="dropdown-item" th:href="@{/comm/boardMain}">식단공유</a></li>
                    <li><a class="dropdown-item" th:href="@{/comm/boardMain}">운동일기</a></li>
                    <li><a class="dropdown-item" th:href="@{/comm/boardMain}">운동장소공유</a></li>
                    <li><a class="dropdown-item" th:href="@{/comm/boardMain}">몸매변화Before&Ffter</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " th:href="@{/shop/main/ALL}" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    쇼핑몰
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/shop/main/ALL}">쇼핑몰메인</a></li>
                    <li><a class="dropdown-item" th:href="@{/shop/cart}">장바구니</a></li>
                    <li><a class="dropdown-item" th:href="@{/shop/orders}">주문내역</a></li>
                    <li><a class="dropdown-item" th:href="@{/member/itemSellerHist}">판매내역</a></li>
                    <li><a class="dropdown-item" th:href="@{/member/items}">상품관리</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasAuthority('STAT_MEMBER')">
                <a class="nav-link dropdown-toggle " href="healthPage.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    헬스정보페이지
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/health/recommendedPage}">추천페이지</a></li>
                    <li><a class="dropdown-item" th:href="@{/health/exerciseInformationPage}">정보제공 페이지</a></li>
                    <li><a class="dropdown-item" th:href="@{/health/healthCalculator}">계산기 페이지</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    관리자페이지
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                    <li><a class="dropdown-item" th:href="@{/admin/main}">관리자페이지메인(통계제공)</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/userMgt}">유저관리</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/commMgt}">커뮤니티관리</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/shopMgt}">쇼핑몰 관리</a></li>
                </ul>
            </li>
        </header>
    </div>

</div>
</html>
